* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: rgb(44, 44, 44); */
    display: flex;

}



#content {
    flex: 1;
    background-color: rgb(37, 41, 51);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 2;
    border: 2px solid burlywood;
    display: flex;
    flex-direction: column;
}

.descrip-container {
    flex: 1;
}

.title-container {
    flex: .25;
}

.main-header {
    margin: 0;
    padding: 0;
    /* position: fixed; */
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.tab {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 14px 16px; */
    transition: 0.6s;
    text-align: center;
    font-size: small;
    font-weight: 100;
}

.tab:hover {
    background-color: cadetblue;
}

.menu-container {
    flex: 1;
}

.contact-container {
    flex: 1;
}

.main-footer {
    margin: 0;
    padding: 0;
    /* position: fixed; */
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .backgroundImg {
    height: 50px;
    width: 50px;
    background-image: url('./img/exterior.jpeg');
    background-color: #00A7E1; 
    background-repeat: no-repeat;
    background-size: 50px 50px;   
} */
