* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: rgb(44, 44, 44); */
    display: flex;

}



#content {
    flex: 1;
    
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 2;
    border: 2px solid burlywood;
    display: flex;
    flex-direction: column;
}

.descrip-container {
    flex: 1;
    display: flex;
}

.backgroundImg {
    /* height: 50px;
    width: 50px; */
    flex: 1;
    background-image: url('./img/exterior.jpeg');
    background-repeat: no-repeat;
    /* background-size: 50px 50px;    */
    background-size: cover;
}

.title-container {
    flex: .25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    font-size: 28px;
    font-weight: 100;
    text-decoration: none;
    list-style: none;

}

.main-header {
    margin: 0;
    padding: 0;
    /* position: fixed; */
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.tab {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(37, 41, 51);
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 14px 16px; */
    transition: 0.6s;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: white;
}

.tab:hover {
    background-color: burlywood;
}

.menu-container {
    flex: 1;
}

.contact-container {
    flex: 1;
}

.main-footer {
    margin: 0;
    padding: 0;
    /* position: fixed; */
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

